name: Tests

on:
  pull_request:
  push:
    branches:
      - "**"

jobs:
  phpunit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.5"
          coverage: pcov
          tools: composer:v2

      - name: Validate composer.json
        run: composer validate --strict --no-check-all

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-interaction

      - name: Run Pint
        run: composer lint

      - name: Run tests
        run: composer test

      - name: Check 100% coverage for src
        run: composer test:coverage
